<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isAdmin" (click)="toAdminPage()">
        <ion-icon src="../../../assets/icon-admin.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user && profile" class="card">
    
  <ion-card >
    <ion-card-header>
      <ion-card-title>User: {{ user.username }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>First name: {{ user.first_name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Total Points: {{ profile.total_points }}</p>
      <p>Goal: {{ getGoalLabel(profile.goal) }}</p>
      <p>Sub-Goal: {{ profile.sub_goal }}</p>
      <p> HEXAD-12: {{ profile.HEXAD_12_type }} </p>
    </ion-card-content>    

    <div class="ion-margin-top">
      <ion-button expand="full" class="ion-margin-top" color="primary" (click)="logout()">Log out</ion-button>
    </div>
  </ion-card>
  
</ion-content>
