<ion-header>
  <ion-toolbar>
    <ion-title> Admin Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of allUsers">
    <ion-card-header expand="full" class="title" color="primary">
      <ion-card-title> {{ user.username }} </ion-card-title>
      <p> {{ user.id }} </p>
    </ion-card-header>

    <ion-card-content>
      <p> HEXAD-12 type: {{ userProfiles[user.id]?.HEXAD_12_type }} </p>
      <div *ngFor="let score of userProfiles[user.id]?.HEXAD_12_scores | keyvalue">
        <p> {{ score.key }}: {{ score.value }} </p>
      </div>
      <p> Motivation SDI: {{ userProfiles[user.id]?.motivation_SDI }} </p>
      <div *ngFor="let score of userProfiles[user.id]?.motivation_scores | keyvalue">
        <p> {{ score.key }}: {{ score.value }} </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>