.main-user-info {
    margin: 2vh 2vw 0 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
}
.user-avatar {
    width: 30vw;
    opacity: 0.5;
}
.user-avatar:hover {
    opacity: 1;
    cursor: pointer;
}
.user-avatar:active {
    opacity: 1;
    cursor: pointer;
}

.secondary-user-info {
    margin: 3vh 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.secondary-text-info {
    margin: 0 4vw;
}